body{
    background-image: url("snow.png");
}

.Karte{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    top: 175px;
}

.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin: 0px;
}

.Pics{
    position: absolute;
    width: 500px;
    height: 300px;
}

.Mistelzweig{
    position: absolute;
    left: -100px;
    top: -120px;
}

.Pinguin{
    position: absolute;
    right: -50px;
    bottom: -50px;
}

.Text{
    height: 150px;
    text-align: center;
    color: white;

}